body {
	padding: 40px;
}

/*.jumbotron {
	text-align: center;
}*/

form {
	text-align: center;
}

/*.container {
	max-width: 1200px;
}*/

/*footer {
	text-align: center;
}*/

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

.grid-25 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

 .tablet-grid-50 {
    float: left;
    width: 50%;
  }